{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container p-5">
        <div class="row mx-auto circle">
                <h1 class="circleh1">The Power of Nature</h1>
                <div>
                    <hr>
                    <h4>
                        <a class="circleshopnow" href="#">Shop Now <i class="fa-solid fa-greater-than"></i></a>
                    </h4>
                </div>
        </div>
        <div class="container p-5">
            <div class="row skincare">
                <h1 class="skincareh1">All Natural & Organic Skin & Hair Care</h1>
                <div>
                    <hr class="skincarehr">
                    <h4>
                        <a class="skincarereadmore" href="#">Read More <i class="fa-solid fa-greater-than"></i></a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row wintercare">
            <img src="/media/winter_frag_homepage.jpg" alt="" class="imgcenter">
            <h1 class="wintercareh1">NEW WINTER FRAGRANCES</h1>
            <h5 class="wintercareh5 text-muted">Cinnamon, spice and everything nice</h5>
            <a class="winterstockup" href="#">Stock up Now <i class="fa-solid fa-greater-than"></i></a>
        </div>
    </div>
{% endblock %}