{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container p-5">
        <div class="row circle">
            <h1 class="circleh1">The Power of Nature</h1>
            <hr>
            <a class="circleshopnow" href="{% url 'products' %}">Shop Now <i class="fa-solid fa-greater-than"></i></a>
        </div>
        <div class="row skincare">
            <h1 class="skincareh1">All Natural & Organic Skin & Hair Care</h1>
            <hr class="skincarehr">
            <a class="skincarereadmore" href="#">Read More <i class="fa-solid fa-greater-than"></i></a>
        </div>
        <div class="row wintercare">
            <img src="/media/winter_fragrance.jpg" alt="" class="imgcenter">
            <h1 class="wintercareh1">NEW WINTER FRAGRANCES</h1>
            <h5 class="wintercareh5 text-muted">Cinnamon, spice and everything nice</h5>
            <a class="winterstockup" href="#">Stock up Now <i class="fa-solid fa-greater-than"></i></a>
        </div>
        <div class="row allskincare">
            <div class="allskincarebeautyboost">
                <h6 class="beautyboosttext">BEAUTY BOOST</h6>
            </div>
            <img src="/media/allskincare.jpg" alt="" class="allskincareimg">
            <h1 class="allskincareh1">Treat yourself to the luxury of nature</h1>
            <a class="allskinshop" href="#">Shop All Skincare <i class="fa-solid fa-greater-than"></i></a>
            <div class="freeshipping">
                <h3 class="freeshippingtext">FREE SHIPPING</h3>
                <hr class="skincarehr">
                <h6 class="freesshippingallorders">All orders</h6>
                <h6 class="freesshippingprice">£25 or more</h6>
            </div>
        </div>
    </div>
{% endblock %}