{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mx-auto circle">
                <h1 class="circleh1">The Power of Nature</h1>
                <div>
                    <hr>
                    <h4>
                        <a class="circleshopnow" href="#">Shop Now <i class="fa-solid fa-greater-than"></i></a>
                    </h4>
                </div>
        </div>
    </div>
{% endblock %}